Repository zdharma-continuum/zinit, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, docker, docs, scripts, tests, zinit

.github/labeler.yml:

ci/cd: ['.github/**/*']
docker: ['docker/*']
docs: ['doc/**/*']
scripts: ['scripts/*']
tests: ['tests/**/*', '.zunit.yml']
zinit: ['zinit*.zsh', '_zinit']

fix: Don't error if $OPTS is not yet defined in .zinit-compinit call
  zinit-install.zsh
Labels: zinit

fix: modify regex in gh-r for assets to not consider for selection
  tests/gh-r.zunit
  zinit-install.zsh
Labels: tests, zinit

fix: modify regex in gh-r for assets to not consider for selection (#244)
  tests/gh-r.zunit
  zinit-install.zsh
Labels: tests, zinit

maint: refactor `snippets.zunit` & add multiple tests
  tests/annexes.zunit
  tests/gh-r.zunit
  tests/plugins.zunit
  tests/snippets.zunit
Labels: tests

maint: refactor `snippets.zunit` & add multiple tests (#242)
  tests/annexes.zunit
  tests/gh-r.zunit
  tests/plugins.zunit
  tests/snippets.zunit
Labels: tests

maint: use --tap flag to reduce zunit test output
  .github/workflows/tests.yaml
Labels: ci/cd

maint: use --tap flag to reduce zunit test output (#246)
  .github/workflows/tests.yaml
Labels: ci/cd

feat: add GH action to remove old workflow logs
  .github/workflows/delete-old-workflows.yml
Labels: ci/cd

feat: add GH action to remove old workflow logs (#248)
  .github/workflows/delete-old-workflows.yml
Labels: ci/cd

maint: improve scope of docs workflow triggers
  .github/workflows/documentation.yaml
Labels: ci/cd

maint: improve scope of docs workflow triggers (#249)
  .github/workflows/documentation.yaml
Labels: ci/cd

fix: gh-r logic ignores [36]86 assets
  .github/workflows/delete-old-workflows.yml
  .github/workflows/documentation.yaml
  .zunit.yml
  Makefile
  doc/zsdoc/zinit-install.zsh.adoc
  tests/_support/bootstrap
  tests/gh-r.zunit
  zinit-install.zsh
Labels: ci/cd, docs, tests, zinit

fix: gh-r logic ignores [36]86 assets (#235)
  .github/workflows/delete-old-workflows.yml
  .github/workflows/documentation.yaml
  .zunit.yml
  Makefile
  doc/zsdoc/zinit-install.zsh.adoc
  tests/_support/bootstrap
  tests/gh-r.zunit
  zinit-install.zsh
Labels: ci/cd, docs, tests, zinit

maint: fix macos pattern, add new tests and format
  .zunit.yml
  tests/gh-r.zunit
  zinit-install.zsh
Labels: tests, zinit

maint: fix macos pattern, add new tests and format (#250)
  .zunit.yml
  tests/gh-r.zunit
  zinit-install.zsh
Labels: tests, zinit

Add a new ice named "link", enabling local snippets to be symlinked instead of copied into the cache. (#234)
  README.md
  doc/zsdoc/zinit-install.zsh.adoc
  doc/zsdoc/zinit.zsh.adoc
  tests/snippets.zunit
  zinit-install.zsh
  zinit.zsh
Labels: docs, tests, zinit

fix: #257
  zinit-install.zsh
Labels: zinit

fix: syntax error when checking for `realpath` command (#259)
  zinit-install.zsh
Labels: zinit

maint: modify linux-(gnu|musl) patterns
  tests/gh-r.zunit
  zinit-install.zsh
Labels: tests, zinit

maint: fix version option for calico
  tests/gh-r.zunit
Labels: tests

maint: add warp & moonwalk tests && add misc. descriptions
  tests/gh-r.zunit
Labels: tests

maint: update gh-r test descriptions & add helix
  tests/gh-r.zunit
Labels: tests

maint: add wtf gh-r test
  tests/gh-r.zunit
Labels: tests

fix: correct typo in helix-editor test
  tests/gh-r.zunit
Labels: tests

fix: correct lbin glob for helix-editor
  tests/gh-r.zunit
Labels: tests

fix: correct lbin glob for wtf
  tests/gh-r.zunit
Labels: tests

maint: update gh-r test descriptions
  tests/gh-r.zunit
Labels: tests

feat: add `alist` gh-r test
  .zunit.yml
  tests/gh-r.zunit
Labels: tests

maint: improve gh actions trigger for zshelldocs
  .github/workflows/documentation.yaml
Labels: ci/cd

maint: improve gh actions trigger for zshelldocs (#262)
  .github/workflows/documentation.yaml
Labels: ci/cd

maint: add warp & moonwalk tests && add misc. descriptions (#261)
  .zunit.yml
  tests/gh-r.zunit
Labels: tests

maint: modify linux-(gnu|musl) patterns (#260)
  tests/gh-r.zunit
  zinit-install.zsh
Labels: tests, zinit

maint: add hoofli, joincap, etcd, euterpe, and certificates gh-r tests
  .zunit.yml
  tests/gh-r.zunit
Labels: tests

maint: use `zdharma-continuum` zunit repository
  .github/workflows/tests.yaml
Labels: ci/cd

maint: use `zdharma-continuum` zunit repository (#264)
  .github/workflows/tests.yaml
Labels: ci/cd

maint: add hoofli, joincap, etcd, euterpe, and certificates gh-r tests (#263)
  .zunit.yml
  tests/gh-r.zunit
Labels: tests

maint: remove `--tap` flag from zunit tests
  .github/workflows/tests.yaml
Labels: ci/cd

maint: Add basic tests for cp/mv/atclone/make ices
  .github/workflows/tests.yaml
  tests/ices.zunit
Labels: ci/cd, tests

maint: remove unneeded tests from github workflow
  .github/workflows/tests.yaml
Labels: ci/cd

maint: add `got` binary to gh-r tests
  tests/gh-r.zunit
Labels: tests
