Repository zdharma-continuum/zinit, pull requests merged in 2022-05, with the labels that each got.

#241 fix: Don't error if $OPTS is not yet defined in .zinit-compinit call
  zinit-install.zsh
Labels: zinit

#244 fix: modify regex in gh-r for assets to not consider for selection
  tests/gh-r.zunit
  zinit-install.zsh
Labels: zinit, tests

#242 maint: refactor `snippets.zunit` & add multiple tests
  tests/annexes.zunit
  tests/gh-r.zunit
  tests/plugins.zunit
  tests/snippets.zunit
Labels: tests

#246 maint: use --tap flag to reduce zunit test output
  .github/workflows/tests.yaml
Labels: ci/cd

#248 feat: add GH action to remove old workflow logs
  .github/workflows/delete-old-workflows.yml
Labels: ci/cd

#249 maint: improve scope of docs workflow triggers
  .github/workflows/documentation.yaml
Labels: ci/cd

#235 fix: gh-r logic fixes incorrectly picking [36]86
  .github/workflows/delete-old-workflows.yml
  .github/workflows/documentation.yaml
  .zunit.yml
  Makefile
  doc/zsdoc/zinit-install.zsh.adoc
  tests/_support/bootstrap
  tests/gh-r.zunit
  zinit-install.zsh
Labels: ci/cd, zinit, tests, docs

#250 maint: add `dmg` to macos pattern & new gh-r tests
  .zunit.yml
  tests/gh-r.zunit
  zinit-install.zsh
Labels: zinit, tests

#234 Add a new ice named "link", enabling local snippets to be symlinked instead of copied into the cache.
  README.md
  doc/zsdoc/zinit-install.zsh.adoc
  doc/zsdoc/zinit.zsh.adoc
  tests/snippets.zunit
  zinit-install.zsh
  zinit.zsh
Labels: zinit, tests, docs

#259 fix: zinit update bug (#257)
  zinit-install.zsh
Labels: zinit

#262 maint: improve gh actions trigger for zshelldocs
  .github/workflows/documentation.yaml
Labels: ci/cd

#261 maint: add warp & moonwalk tests && add misc. descriptions
  .zunit.yml
  tests/gh-r.zunit
Labels: tests

#264 maint: use `zdharma-continuum` zunit repository
  .github/workflows/tests.yaml
Labels: ci/cd

#263 maint: add hoofli, joincap, etcd, euterpe, and certificates gh-r tests
  .zunit.yml
  tests/gh-r.zunit
Labels: tests

#266 maint: add `got` binary to gh-r tests
  tests/gh-r.zunit
Labels: tests

#267 feat: add krew and ripgrep gh-r zunit tests
  tests/gh-r.zunit
Labels: tests

#268 [DNM] maint: expand systems (macos-{12,10.15} & ubuntu-{22.04,18.04} for unit tests
  .github/workflows/tests.yaml
Labels: ci/cd

#273 docs: create a code of conduct for contributors
  .github/labeler.yml
  CODE_OF_CONDUCT.md
Labels: ci/cd

#275 style: format CODE_OF_CONDUCT to fix failing test
  CODE_OF_CONDUCT.md
Labels: docs

#269 fix: account for systems where `musl` is present
  .github/workflows/tests.yaml
  scripts/install.sh
  scripts/test-scripts/test-excl-id-as
  scripts/test-scripts/test-id-as
  scripts/zunit-tests.sh
  tests/_support/bootstrap
  tests/gh-r.zunit
  zinit-autoload.zsh
  zinit-install.zsh
Labels: ci/cd, zinit, scripts, tests

#278 fix: docs workflow should fail if out-of-date
  .github/workflows/documentation.yaml
  doc/zsdoc/zinit-install.zsh.adoc
Labels: ci/cd, docs

#281 maint: remove the "pokeget" gh-r test due to project being deleted or made private
  tests/gh-r.zunit
Labels: tests

#280 fix: unmatched "(" in windows gh-r patterns
  zinit-install.zsh
Labels: zinit

#288 docs(README): Fix migration link
  README.md
Labels: docs

#293 Propagate -o xtrace when needed and prepend builtin to emulate
  zinit-additional.zsh
  zinit-autoload.zsh
  zinit-install.zsh
  zinit-side.zsh
  zinit.zsh
Labels: zinit
