Repository zdharma-continuum/zinit, pull requests merged in 2022-07, with the labels that each got.

#319 style: re-format rpm2cpio.zsh to zinit convention
  share/rpm2cpio.zsh
Labels: enhancement, maintenance

#324 maint: delete PR template in favor of org wide copy
  .github/PULL_REQUEST_TEMPLATE.md
Labels: maintenance, ci/cd

#325 style: format single-line.zsh to zinit convention
  share/single-line.zsh
Labels: enhancement, maintenance

#328 Move extract'' action up, before atclone/atpull and before mv/cp
  zinit-install.zsh
  zinit.zsh
Labels: zinit

#329 docs: update zinit-install.zsh.adoc
  doc/zsdoc/zinit-install.zsh.adoc
Labels: docs

#327 style: format zinit-side.zsh to zinit convention
  doc/zsdoc/zinit-side.zsh.adoc
  zinit-side.zsh
Labels: zinit, docs

#304 fix: use runtime detected cpu before compiled cpu (#287)
  zinit-install.zsh
Labels: zinit

#343 maint: add CODEOWNERS file for code owners feature
  .github/CODEOWNERS
Labels: ci/cd

#334 Finally forget on atpull'%atclone' and long atclone'' ice – configure'' ice
  README.md
  zinit-install.zsh
  zinit.zsh
Labels: zinit, docs

#347 docs: format README.md
  README.md
Labels: docs

#346 docs: configure"" ice updates
  doc/zsdoc/zinit-install.zsh.adoc
  doc/zsdoc/zinit-side.zsh.adoc
  doc/zsdoc/zinit.zsh.adoc
Labels: docs

#353 maint: improve OS info and CoC agree to issue template
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: ci/cd

#355 Update bug-report.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: ci/cd

#356 fix: calico gh-r zunit test
  tests/gh-r.zunit
Labels: tests

#357 maint: refactor duplicate test logic into function
  tests/_support/annex_test_assertions
  tests/annexes.zunit
Labels: tests
