Repository zdharma-continuum/zinit, pull requests merged in 2022-06, with the labels that each got.

#299 fix: remove curl option "--tcp-fastopen" which is not always available
  scripts/install.sh
  zinit-autoload.zsh
  zinit-install.zsh
Labels: zinit, scripts

#290 feat: automatic log formatting function
  zinit.zsh
Labels: zinit

#301 docs: updates for "zinit-formatter-auto" code
  doc/zsdoc/zinit.zsh.adoc
Labels: docs

#286 feat: debug formatting to `.zinit-message`
  zinit.zsh
Labels: zinit

#302 docs: updates for "zinit-formatter-dbg" code
  doc/zsdoc/zinit.zsh.adoc
Labels: docs

#305 fix: alist repository for gh-r test
  tests/gh-r.zunit
Labels: tests

#307 refactor: self-update logic & logging
  doc/zsdoc/zinit-autoload.zsh.adoc
  zinit-autoload.zsh
Labels: zinit, docs

#308 fix: typo & triggers in documentation workflow
  .github/workflows/documentation.yaml
Labels: ci/cd

#311 Update of the {auto} formatter / again no docs :/
  zinit.zsh
Labels: zinit

#314 docs: update info for .zinit-formatter-auto
  doc/zsdoc/zinit.zsh.adoc
Labels: docs
