Repository zdharma-continuum/zinit, pull requests merged in 2022-12, with the labels that each got.

#417 feat: add completions ice
  README.md
  doc/zsdoc/zinit-install.zsh.adoc
  doc/zsdoc/zinit.zsh.adoc
  tests/ices.zunit
  zinit-install.zsh
  zinit.zsh
Labels: zinit, tests, docs

#440 feat: display version via `version` sub command
  .github/workflows/linting.yaml
  README.md
  _zinit
  doc/HACKING.md
  doc/zsdoc/zinit-autoload.zsh.adoc
  doc/zsdoc/zinit.zsh.adoc
  zinit-autoload.zsh
  zinit.zsh
Labels: ci/cd, zinit, docs

#438 refactor: zinit function names
  .dockerignore
  .github/workflows/documentation.yaml
  CHANGELOG.md
  Dockerfile
  Makefile
  doc/CHANGELOG.md
  doc/zsdoc/Makefile
  doc/zsdoc/git-process-output.zsh.adoc
  doc/zsdoc/pdf/git-process-output.zsh.pdf
  doc/zsdoc/pdf/rpm2cpio.zsh.pdf
  doc/zsdoc/pdf/zinit-additional.zsh.pdf
  doc/zsdoc/pdf/zinit-autoload.zsh.pdf
  doc/zsdoc/pdf/zinit-install.zsh.pdf
  doc/zsdoc/pdf/zinit-side.zsh.pdf
  doc/zsdoc/pdf/zinit.zsh.pdf
  doc/zsdoc/rpm2cpio.zsh.adoc
  doc/zsdoc/zinit-additional.zsh.adoc
  doc/zsdoc/zinit-autoload.zsh.adoc
  doc/zsdoc/zinit-install.zsh.adoc
  doc/zsdoc/zinit-side.zsh.adoc
  doc/zsdoc/zinit.zsh.adoc
  docker/Dockerfile
  docker/zshrc
  scripts/docker-build.sh
  scripts/docker-run.sh
  scripts/install.sh
  share/git-process-output.zsh
  share/rpm2cpio.zsh
  tests/_support/annex_test_assertions
  tests/_support/bootstrap
  zi-browse-symbol
  zinit-additional.zsh
  zinit-autoload.zsh
  zinit-install.zsh
  zinit-side.zsh
  zinit.zsh
Labels: ci/cd, zinit, scripts, tests, docs, docker
