Repository zdharma-continuum/zinit, pull requests merged in 2022-11, with the labels that each got.

#410 fix: ziextract execs discovery regex
  zinit-install.zsh
Labels: zinit

#412 fix: zunit install in GH workflow
  .github/workflows/tests.yaml
Labels: ci/cd

#411 style: update ziextract log messages prefix
  doc/zsdoc/zinit-install.zsh.adoc
  zinit-install.zsh
Labels: zinit, docs

#414 fix: rm linux32 assets in aarch64/arm64 gh-r regex
  zinit-install.zsh
Labels: zinit

#415 feat: add releases via semantic-release
  .releaserc.json
  CHANGELOG.md
  VERSION
Labels: docs

#419 Copy doc/zinit.1 only if it exists. Fixes #418.
  zinit.zsh
Labels: zinit

#424 Revert "Copy doc/zinit.1 only if it exists. Fixes #418."
  zinit.zsh
Labels: zinit

#409 Make scheduler be called in 5 seconds interval after no more scheduled tasks
  zinit.zsh
Labels: zinit

#428 ci: add commit linting via commitlint
  .commitlintrc
  .github/workflows/linting.yaml
Labels: ci/cd

#430 fix: remove broken gh-r zunit test for "warp"
  tests/gh-r.zunit
  tests/plugins.zunit
Labels: tests

#429 perf: Make scheduler be called in 10 seconds interval if no tasks
  zinit.zsh
Labels: zinit
