Repository zdharma-continuum/zinit, pull requests merged in 2022-09, with the labels that each got.

#368 (fix): add `os-x` to darwin gh-r pattern
  tests/gh-r.zunit
  zinit-install.zsh
Labels: zinit, tests

#369 fix: remove macOS 11 from test matrix
  .github/workflows/tests.yaml
Labels: ci/cd

#372 use grep instead of the deprecated egrep
  zinit-autoload.zsh
  zinit-install.zsh
Labels: zinit

#373 fix: Fix download from gh-r
  zinit-install.zsh
Labels: zinit

#332 A zsh language definition for Ctags wrapped in `tags` Make target
  Makefile
  share/template-plugin/template-script
  share/zsh.ctags
  zi-browse-symbol
  zinit.zsh
Labels: zinit

#376 Make variables created with param'name → value' be exported. Also
  zinit-additional.zsh
  zinit.zsh
Labels: zinit

#351 Add support for multiple (cmake, scons, meson) build systems to the configure'' ice.
  README.md
  zinit-autoload.zsh
  zinit-install.zsh
  zinit.zsh
Labels: zinit, docs

#378 Add a few global aliases and vars like ZIBIN, ZIPLUGS and others.
  zinit.zsh
Labels: zinit

#350 Copy zinit.1 to man1 directory for `man` to be able to open it
  zinit.zsh
Labels: zinit

#384 Revert "Add a few global aliases and vars like ZIBIN, ZIPLUGS and others."
  zinit.zsh
Labels: zinit
