Repository zdharma-continuum/zinit, pull requests merged in 2023-08, with the labels that each got.

#549 fix: quote parens so that they aren't used as globs
  zinit-install.zsh
Labels: zinit

#560 fix: update gh-r tests
  tests/gh-r.zunit
Labels: tests

#561 fix: update gh-r tests
  tests/gh-r.zunit
Labels: tests

#559 545 bug bad math expression in zinit plugins on ubuntu 2204wsl2
  doc/zsdoc/zinit-autoload.zsh.adoc
  doc/zsdoc/zinit.zsh.adoc
  tests/commands.zunit
  zinit-autoload.zsh
Labels: zinit, tests, docs

#563 refactor: rename `+zinit-message` to `+zi-log`
  doc/zsdoc/zinit-autoload.zsh.adoc
  doc/zsdoc/zinit-install.zsh.adoc
  doc/zsdoc/zinit-side.zsh.adoc
  doc/zsdoc/zinit.zsh.adoc
  zinit-autoload.zsh
  zinit-install.zsh
  zinit-side.zsh
  zinit.zsh
Labels: zinit

#565 docs: document $ZPFX variable in README
  README.md
Labels: docs

#568 fix: update gomi repo owner
  tests/gh-r.zunit
Labels: tests

#562 fix: self-update check for updates
  README.md
  doc/zsdoc/zinit-autoload.zsh.adoc
  doc/zsdoc/zinit.zsh.adoc
  tests/commands.zunit
  zinit-autoload.zsh
Labels: zinit, tests, docs

#564 fix: gh-r linux regex & gh-r zunit tests
  doc/zsdoc/zinit-install.zsh.adoc
  tests/gh-r.zunit
  zinit-install.zsh
Labels: zinit, tests, docs
