Repository zdharma-continuum/zinit, pull requests merged in 2023-02, with the labels that each got.

#474 refactor: zinit confirmation messages
  doc/zsdoc/zinit-autoload.zsh.adoc
  doc/zsdoc/zinit.zsh.adoc
  zinit-autoload.zsh
  zinit.zsh
Labels: zinit, docs

#475 fix: use correct return code in zinit-confirm
  doc/zsdoc/zinit-autoload.zsh.adoc
  zinit-autoload.zsh
Labels: zinit, docs

#453 fix: broken symbolic link after `creinstall .`
  tests/plugins.zunit
  zinit-install.zsh
Labels: zinit, tests

#460 fix: assign to functions hash to make %x work
  zinit.zsh
Labels: zinit

#451 chore(docs): add conditional directory and git cloning calls to setup instructions
  README.md
Labels: docs

#477 docs: update line count in `zinit.zsh.adoc`
  doc/zsdoc/zinit.zsh.adoc
Labels: docs

#479 fix: make `gh-r` release version search case-insensitive
  doc/zsdoc/zinit-install.zsh.adoc
  zinit-install.zsh
Labels: zinit, docs

#480 fix: the starship example does not work properly
  README.md
Labels: docs
