Repository zdharma-continuum/zinit, pull requests merged in 2023-06, with the labels that each got.

#525 feat: build container with zsh 5.9
  .github/workflows/containers.yaml
Labels: ci/cd

#531 ci: only build containers on main branch
  .github/workflows/containers.yaml
Labels: ci/cd

#537 fix: pin `fclones` gh-r test version to v0.30.0
  tests/gh-r.zunit
Labels: tests

#528 fix: Ignore .yaml and .py files when installing completions
  tests/ices.zunit
  zinit-install.zsh
Labels: zinit, tests

#541 ci: fix repo for hub (github -> mislav)
  tests/gh-r.zunit
Labels: tests
