Repository zdharma-continuum/zinit, pull requests merged in 2024-03, with the labels that each got.

#619 fix: compile command logic when using `id-as` ice
  .github/workflows/tests.yaml
  .zunit.yml
  README.md
  _zinit
  doc/zsdoc/_zinit.adoc
  doc/zsdoc/zinit-additional.zsh.adoc
  doc/zsdoc/zinit-autoload.zsh.adoc
  doc/zsdoc/zinit-install.zsh.adoc
  doc/zsdoc/zinit-side.zsh.adoc
  doc/zsdoc/zinit.zsh.adoc
  tests/_support/annex_test_assertions
  tests/_support/bootstrap
  tests/commands.zunit
  tests/compile.zunit
  tests/gh-r.zunit
  zinit-autoload.zsh
  zinit-install.zsh
  zinit.zsh
Labels: ci/cd, zinit, tests, docs, completion, fix, release

#644 test(fx): pin version to 32.0.0
  tests/gh-r.zunit
Labels: tests, release

#643 fix: add `command` before instances of `git` that didn't have it
  zinit-autoload.zsh
Labels: zinit, fix, release

#645 fix(zinit-install): simplify protocol pattern
  zinit-install.zsh
Labels: zinit, fix, release
