Repository zdharma-continuum/zinit, pull requests merged in 2024-01, with the labels that each got.

#557 fix the permission issue with 'ziextract' when running it as root
  zinit-install.zsh
Labels: zinit, fix, release

#616 feat: configure, make, cmake, and build ices (#613)
  .github/workflows/tests.yaml
  .zunit.yml
  doc/zsdoc/zinit-autoload.zsh.adoc
  doc/zsdoc/zinit-side.zsh.adoc
  tests/_support/annex_test_assertions
  tests/_support/bootstrap
  tests/commands.zunit
  tests/gh-r.zunit
  tests/ices.zunit
  tests/plugins.zunit
  zinit-autoload.zsh
  zinit-install.zsh
  zinit.zsh
Labels: ci/cd, zinit, tests, docs, release

#620 style: change log message prefix color to blue
  zinit.zsh
Labels: zinit, release

#623 fix(ci): remove duplicate gh-r zunit job
  .github/workflows/tests.yaml
Labels: ci/cd, fix, release

#622 feat(delete): fix unsetting plugin state & add `--debug` / `--quiet` flags
  _zinit
  zinit-autoload.zsh
Labels: zinit, completion, fix, release

#626 fix: `plugins` command correctly handles keyword argument
  tests/commands.zunit
  zinit-autoload.zsh
Labels: zinit, tests, release

#628 ci(release): bump zinit homebrew formula
  .github/workflows/release.yml
Labels: ci/cd, release

#629 ci: move bump homebrew version to own file
  .github/workflows/bump-homebrew-formula.yml
  .github/workflows/release.yml
Labels: ci/cd, release
