Repository zdharma-continuum/zinit, pull requests merged in 2025-02, with the labels that each got.

#699 fix: global variable in ∞zinit-file-cp-mv-operation
  zinit-install.zsh
Labels: zinit, release

#701 fix completions in zinit update
  _zinit
Labels: completion, release

#702 ci: disable navi gh-r test on mac os
  tests/gh-r.zunit
Labels: tests, release

#696 installer: Set min zsh version to 5.8
  scripts/install.sh
Labels: release

#704 ci: disable container builds for old versions of zsh
  .github/workflows/containers.yaml
Labels: ci/cd, release
