Repository zdharma-continuum/zinit, pull requests merged in 2025-01, with the labels that each got.

#688 docs: fix a few words
  README.md
  zinit-autoload.zsh
Labels: zinit, docs, fix, release

#691 fix: gh-r zunit tests
  .github/workflows/tests.yaml
  tests/gh-r.zunit
  tests/snippets.zunit
Labels: ci/cd, tests, release

#690 Allows the user to provide multiple files in the `cp` / `mv` ICE separated by `;`
  zinit-install.zsh
Labels: zinit, release

#692 ci: Fix typo in ice zunit test for mv
  tests/ices.zunit
Labels: tests, release

#636 feat: check for `eza` to use in `$ZINIT[LIST_COMMAND]` option
  zinit.zsh
Labels: zinit, release, feature

#693 ci: Disable commit lint, and disable fail-fast for zunit tests
  .commitlintrc
  .github/workflows/linting.yaml
  .zunit.yml
Labels: ci/cd, tests, release

#694 lint: fmt README.md
  .github/workflows/linting.yaml
  README.md
Labels: ci/cd, docs, release

#695 Revert "lint: fmt README.md (#694)"
  .github/workflows/linting.yaml
  README.md
  doc/HACKING.md
Labels: ci/cd, docs, fix, release
